html {
  background: #000000;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dt {
  position: relative;
}

#container{
    background:#000;
    height:100%;
}
#canvas{
    background:#000;
}

canvas {
  cursor: none;
  width: 100vw;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering:-o-crisp-edges;
}